.container {
  padding : 20px;
  overflow : auto;
  width 100%;
}

.container > div {
  box-sizing : border-box;
  width : 33.33%;
  padding : 10px;
}

.left {
  float : left;
}
.middle {
  float : right;
}
.right {
  float : right;
}
