.container {
  padding : 20px;
  width 100%;
}

/* bom para nav */
.container > div {
  box-sizing : border-box;
  width : 33%;
  padding : 10px;
  display : inline-block;
  margin : 0px !important;
}
