/*https://css-tricks.com/snippets/css/a-guide-to-flexbox/*/
.container {
  padding : 20px;
  width 100%;
  display: flex;
  flex-direction : row;
  justify-content : space-evenly;
}

.container > div {
  width : 33%;
  padding : 10px;
}

