@keyframes rainbow {
  0% {
    background-color : red;
  }
  20% {
    background-color : yellow;
  }
  40% {
    background-color : green;
  }
  60% {
    background-color : blue;
  }
  80% {
    background-color : violet;
  }
  100% {
    background-color : red;
  }
}

.rainbow {
  width : 100px;
  height : 100px;
  animation-name : rainbow;
  animation-duration : 10s;
  animation-iteration-count: infinite;
  position : relative;
  top : 50px;
  left : 25%;
  transform : rotate(20deg);
}
