
.row:first-child {
    font-weight : bold;
}
.row {
    display : flex;
    justify-content : space-evenly;
    max-width : 1024px;
    width : 100%;
    margin: 20px auto;
}
.row > div {
    width : 15%
}
