    <div class="container">
      <div class="row">
        <div class="col-xs-12">12</div>
      </div>
      <div class="row">
        <div class="col-md-6">6</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">3</div>
      </div>
    </div>
