    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <a class="btn btn-success btn-lg" href="#">Button</a>
        </div>
      </div>
    </div>
