    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group text-center">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-info">Info</button>
            <button class="btn btn-default">Default</button>
            <button class="btn btn-warn">Warn</button>
            <button class="btn btn-danger">Danger</button>
          </div>
        </div>
      </div>
    </div>
