    <form action="#">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h2>Algum Formulario</h2>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="id">Input</label>
              <input id="id" class="form-control" type="text" name="id">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="field">Campo</label>
              <input id="field" class="form-control" type="text" name="field">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
