  <table>
    <thead>
      <tr>
        <th>content xyx</th>
        <th>context xyz</th>
        <th>context xyz</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>context xyz</td>
        <td>context xyz</td>
        <td>context xyz</td>
      </tr>
      <tr>
        <td>context xyz</td>
        <td>context xyz</td>
        <td>context xyz</td>
      </tr>
      <tr>
        <td>context xyz</td>
        <td>context xyz</td>
        <td>context xyz</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>context xyz</td>
        <td>context xyz</td>
        <td>context xyz</td>
      </tr>
    </tfoot>
  </table>
