  <custom-taggo>
    <p>
      Hello, kids.
    </p>
  </custom-taggo>
  
  <script type="text/javascript">
    var customTaggo = document.createElement('custom-taggo');
    customTaggo.innerHTML = "Hello World";
    customTaggo.addEventListener('click', ()=>{
        alert('hello world');
    });
    document.body.appendChild(customTaggo);
  </script>

