  <form action="#" method="get">
    <input type="text" placeholder="Nome">
    <input required placeholder="Numba pls" name="age" type="number" step="0.001" max="100" min="0">
    <input required placeholder="Email" name="email" type="email">
    <input required placeholder="Password" name="password" type="password">

    <span>Rate pls:</span>
    <input placeholder="Rate" name="stars" value="1" type="radio">
    <input placeholder="Rate" name="stars" value="2" type="radio">
    <input placeholder="Rate" name="stars" value="3" type="radio">
    <input placeholder="Rate" name="stars" value="4" type="radio">
    <input placeholder="Rate" name="stars" value="5" type="radio">

    <span>Queijo Preferido:</span>
    <select name="" required>
      <option value="">Escolha Um</option>
      <option value="CHEDDAR">Cheddar</option>
      <option value="MUSSARELA">Mussarela</option>
      <option value="MINEIRO">Mineiro</option>
      <option value="PAODE">Pão de.</option>
      <option value="NENHUM">Nenhum</option>
    </select>

    <button type="submit">Enviar</button>
    <input type="submit" hidden>
  </form>
